/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.button, h3, h2, h1, body {
  font-family: "Source Serif 4", Verdana, sans-serif;
}

.puzzle__title {
  font-family: "Press Start 2P", cursive;
}

.button-help:active, .button-puzzle9:hover:enabled, .button-puzzle7:hover:enabled, .button-puzzle5:hover:enabled, .button-puzzle3:hover:enabled, .button-puzzle1:hover:enabled {
  transition: all 0.3s ease-out;
}

.container {
  margin: 0 30px;
  background-color: white;
  border-radius: 80px;
  padding: 30px 0;
}

.container-pizzle1 {
  border: 5px solid pink;
}
.container-pizzle1 br::selection,
.container-pizzle1 th::selection,
.container-pizzle1 td::selection,
.container-pizzle1 .puzzle__title::selection,
.container-pizzle1 .puzzle__text::selection,
.container-pizzle1 .help__title::selection,
.container-pizzle1 .puzzle__input::selection,
.container-pizzle1 .puzzle__image::selection,
.container-pizzle1 .puzzle__description::selection,
.container-pizzle1 .puzzle__description-level::selection,
.container-pizzle1 .header__title::selection,
.container-pizzle1 .button::selection,
.container-pizzle1 .help_1::selection,
.container-pizzle1 .help_2::selection,
.container-pizzle1 .help_3::selection,
.container-pizzle1 b::selection {
  background: pink;
}

.container-pizzle3 {
  border: 5px solid #422521;
}
.container-pizzle3 br::selection,
.container-pizzle3 th::selection,
.container-pizzle3 td::selection,
.container-pizzle3 .puzzle__title::selection,
.container-pizzle3 .puzzle__text::selection,
.container-pizzle3 .help__title::selection,
.container-pizzle3 .puzzle__input::selection,
.container-pizzle3 .puzzle__image::selection,
.container-pizzle3 .puzzle__description::selection,
.container-pizzle3 .puzzle__description-level::selection,
.container-pizzle3 .header__title::selection,
.container-pizzle3 .button::selection,
.container-pizzle3 .help_1::selection,
.container-pizzle3 .help_2::selection,
.container-pizzle3 .help_3::selection,
.container-pizzle3 b::selection {
  background: rgba(66, 37, 33, 0.5);
}

.container-pizzle5 {
  border: 5px solid rgba(85, 65, 49, 0.8);
}
.container-pizzle5 br::selection,
.container-pizzle5 th::selection,
.container-pizzle5 td::selection,
.container-pizzle5 .puzzle__title::selection,
.container-pizzle5 .puzzle__text::selection,
.container-pizzle5 .help__title::selection,
.container-pizzle5 .puzzle__input::selection,
.container-pizzle5 .puzzle__image::selection,
.container-pizzle5 .puzzle__description::selection,
.container-pizzle5 .puzzle__description-level::selection,
.container-pizzle5 .header__title::selection,
.container-pizzle5 .button::selection,
.container-pizzle5 .help_1::selection,
.container-pizzle5 .help_2::selection,
.container-pizzle5 .help_3::selection,
.container-pizzle5 b::selection {
  background: rgba(85, 65, 49, 0.8);
}

.container-pizzle7 {
  border: 5px solid #941c0c;
}
.container-pizzle7 br::selection,
.container-pizzle7 th::selection,
.container-pizzle7 td::selection,
.container-pizzle7 .puzzle__title::selection,
.container-pizzle7 .puzzle__text::selection,
.container-pizzle7 .help__title::selection,
.container-pizzle7 .puzzle__input::selection,
.container-pizzle7 .puzzle__image::selection,
.container-pizzle7 .puzzle__description::selection,
.container-pizzle7 .puzzle__description-level::selection,
.container-pizzle7 .header__title::selection,
.container-pizzle7 .button::selection,
.container-pizzle7 .help_1::selection,
.container-pizzle7 .help_2::selection,
.container-pizzle7 .help_3::selection,
.container-pizzle7 b::selection {
  background: #941c0c;
}

.container-pizzle9 {
  border: 5px solid #d1bf19;
}
.container-pizzle9 br::selection,
.container-pizzle9 th::selection,
.container-pizzle9 td::selection,
.container-pizzle9 .puzzle__title::selection,
.container-pizzle9 .puzzle__text::selection,
.container-pizzle9 .help__title::selection,
.container-pizzle9 .puzzle__input::selection,
.container-pizzle9 .puzzle__image::selection,
.container-pizzle9 .puzzle__description::selection,
.container-pizzle9 .puzzle__description-level::selection,
.container-pizzle9 .header__title::selection,
.container-pizzle9 .button::selection,
.container-pizzle9 .help_1::selection,
.container-pizzle9 .help_2::selection,
.container-pizzle9 .help_3::selection,
.container-pizzle9 b::selection {
  background: #d1bf19;
}

.container-pizzle-final {
  border: 5px solid #c0ced1;
}
.container-pizzle-final br::selection,
.container-pizzle-final th::selection,
.container-pizzle-final td::selection,
.container-pizzle-final .puzzle__title::selection,
.container-pizzle-final .puzzle__text::selection,
.container-pizzle-final .help__title::selection,
.container-pizzle-final .puzzle__input::selection,
.container-pizzle-final .puzzle__image::selection,
.container-pizzle-final .puzzle__description::selection,
.container-pizzle-final .puzzle__description-level::selection,
.container-pizzle-final .header__title::selection,
.container-pizzle-final .button::selection,
.container-pizzle-final .help_1::selection,
.container-pizzle-final .help_2::selection,
.container-pizzle-final .help_3::selection,
.container-pizzle-final b::selection {
  background: #c0ced1;
}
@media (max-width: 1294px) {
  .container-pizzle-final {
    max-width: 971px;
  }
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  font-style: normal;
  padding-bottom: 30px;
}

.body-puzzle1 {
  background-image: url("../img/puzzles/fon1.png");
}

.body-puzzle3 {
  background-image: url("../img/puzzles/fon3.png");
}

.body-puzzle5 {
  background-image: url("../img/puzzles/fon5.png");
}

.body-puzzle7 {
  background-image: url("../img/puzzles/fon7.png");
}

.body-puzzle9 {
  background-image: url("../img/puzzles/fon9.png");
}

.body-puzzle-final {
  background-image: url("../img/final/background4.png");
}

h1 {
  font-size: 4rem;
  line-height: 5.4rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: bold;
    font-style: normal;
  }
}
@media (max-width: 475px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    font-style: normal;
  }
}

h2 {
  font-size: 3.4rem;
  line-height: 4.6rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
    line-height: 4.6rem;
    font-weight: bold;
    font-style: normal;
  }
}
@media (max-width: 475px) {
  h2 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 320px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
  }
}

h3 {
  font-size: 2.5rem;
  line-height: 3.8rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 475px) {
  h3 {
    font-size: 1.9rem;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 375px) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 320px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2.6rem;
    font-weight: 400;
    font-style: normal;
  }
}

.puzzle__button {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button {
  padding: 11px 50px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0 20px;
}
.button-puzzle1 {
  color: black;
  border: 3px solid pink;
}
.button-puzzle1:hover, .button-puzzle1:focus {
  border-color: pink;
}
.button-puzzle1:hover:enabled {
  background-color: pink;
  color: #ffffff;
}
.button-puzzle3 {
  color: black;
  border: 3px solid #422521;
}
.button-puzzle3:hover, .button-puzzle3:focus {
  border-color: #422521;
}
.button-puzzle3:hover:enabled {
  background-color: #422521;
  color: #ffffff;
}
.button-puzzle5 {
  color: black;
  border: 3px solid rgba(85, 65, 49, 0.8);
}
.button-puzzle5:hover, .button-puzzle5:focus {
  border-color: rgba(85, 65, 49, 0.8);
}
.button-puzzle5:hover:enabled {
  background-color: rgba(85, 65, 49, 0.8);
  color: #ffffff;
}
.button-puzzle7 {
  color: black;
  border: 3px solid #941c0c;
}
.button-puzzle7:hover, .button-puzzle7:focus {
  border-color: #941c0c;
}
.button-puzzle7:hover:enabled {
  background-color: #941c0c;
  color: #ffffff;
}
.button-puzzle9 {
  color: black;
  border: 3px solid #d1bf19;
}
.button-puzzle9:hover, .button-puzzle9:focus {
  border-color: #d1bf19;
}
.button-puzzle9:hover:enabled {
  background-color: #d1bf19;
  color: #ffffff;
}

.button-help {
  margin-top: 20px;
}
.button-help:active {
  background-color: pink;
  color: #ffffff;
}
@media (max-width: 2560px) {
  .button-help {
    min-width: 582px;
  }
}
@media (max-width: 676px) {
  .button-help {
    min-width: 0;
  }
}

.button-next {
  margin-bottom: 30px;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.87);
}

.dlg-modal {
  max-width: 570px;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  position: fixed;
  left: 50%;
  z-index: 10;
  padding: 35px 36px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
}

.dlg-modal-fade {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.closer {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 35px;
  top: 20px;
  background: url("../img/cross.png") no-repeat;
  cursor: pointer;
}

.closer:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header {
  background: #ffffff;
  padding: 42px 0;
  display: flex;
}

.header__title {
  text-align: center;
  margin: 0 20px;
}

.header-puzzle1 {
  background-image: url("../img/puzzles/fon1.png");
}
.header-puzzle1 br::selection,
.header-puzzle1 th::selection,
.header-puzzle1 td::selection,
.header-puzzle1 .puzzle__title::selection,
.header-puzzle1 .puzzle__text::selection,
.header-puzzle1 .help__title::selection,
.header-puzzle1 .puzzle__input::selection,
.header-puzzle1 .puzzle__image::selection,
.header-puzzle1 .puzzle__description::selection,
.header-puzzle1 .puzzle__description-level::selection,
.header-puzzle1 .header__title::selection,
.header-puzzle1 .button::selection,
.header-puzzle1 .help_1::selection,
.header-puzzle1 .help_2::selection,
.header-puzzle1 .help_3::selection,
.header-puzzle1 b::selection {
  background: pink;
}

.header-puzzle3 {
  background-image: url("../img/puzzles/fon3.png");
}
.header-puzzle3 br::selection,
.header-puzzle3 th::selection,
.header-puzzle3 td::selection,
.header-puzzle3 .puzzle__title::selection,
.header-puzzle3 .puzzle__text::selection,
.header-puzzle3 .help__title::selection,
.header-puzzle3 .puzzle__input::selection,
.header-puzzle3 .puzzle__image::selection,
.header-puzzle3 .puzzle__description::selection,
.header-puzzle3 .puzzle__description-level::selection,
.header-puzzle3 .header__title::selection,
.header-puzzle3 .button::selection,
.header-puzzle3 .help_1::selection,
.header-puzzle3 .help_2::selection,
.header-puzzle3 .help_3::selection,
.header-puzzle3 b::selection {
  background: rgba(66, 37, 33, 0.5);
}

.header-puzzle5 {
  background-image: url("../img/puzzles/fon5.png");
}
.header-puzzle5 br::selection,
.header-puzzle5 th::selection,
.header-puzzle5 td::selection,
.header-puzzle5 .puzzle__title::selection,
.header-puzzle5 .puzzle__text::selection,
.header-puzzle5 .help__title::selection,
.header-puzzle5 .puzzle__input::selection,
.header-puzzle5 .puzzle__image::selection,
.header-puzzle5 .puzzle__description::selection,
.header-puzzle5 .puzzle__description-level::selection,
.header-puzzle5 .header__title::selection,
.header-puzzle5 .button::selection,
.header-puzzle5 .help_1::selection,
.header-puzzle5 .help_2::selection,
.header-puzzle5 .help_3::selection,
.header-puzzle5 b::selection {
  background: rgba(85, 65, 49, 0.8);
}

.header-puzzle7 {
  background-image: url("../img/puzzles/fon7.png");
}
.header-puzzle7 br::selection,
.header-puzzle7 th::selection,
.header-puzzle7 td::selection,
.header-puzzle7 .puzzle__title::selection,
.header-puzzle7 .puzzle__text::selection,
.header-puzzle7 .help__title::selection,
.header-puzzle7 .puzzle__input::selection,
.header-puzzle7 .puzzle__image::selection,
.header-puzzle7 .puzzle__description::selection,
.header-puzzle7 .puzzle__description-level::selection,
.header-puzzle7 .header__title::selection,
.header-puzzle7 .button::selection,
.header-puzzle7 .help_1::selection,
.header-puzzle7 .help_2::selection,
.header-puzzle7 .help_3::selection,
.header-puzzle7 b::selection {
  background: #941c0c;
}

.header-puzzle9 {
  background-image: url("../img/puzzles/fon9.png");
}
.header-puzzle9 br::selection,
.header-puzzle9 th::selection,
.header-puzzle9 td::selection,
.header-puzzle9 .puzzle__title::selection,
.header-puzzle9 .puzzle__text::selection,
.header-puzzle9 .help__title::selection,
.header-puzzle9 .puzzle__input::selection,
.header-puzzle9 .puzzle__image::selection,
.header-puzzle9 .puzzle__description::selection,
.header-puzzle9 .puzzle__description-level::selection,
.header-puzzle9 .header__title::selection,
.header-puzzle9 .button::selection,
.header-puzzle9 .help_1::selection,
.header-puzzle9 .help_2::selection,
.header-puzzle9 .help_3::selection,
.header-puzzle9 b::selection {
  background: #d1bf19;
}

.header-puzzle-final {
  background-image: url("../img/final/background4.png");
}
.header-puzzle-final br::selection,
.header-puzzle-final th::selection,
.header-puzzle-final td::selection,
.header-puzzle-final .puzzle__title::selection,
.header-puzzle-final .puzzle__text::selection,
.header-puzzle-final .help__title::selection,
.header-puzzle-final .puzzle__input::selection,
.header-puzzle-final .puzzle__image::selection,
.header-puzzle-final .puzzle__description::selection,
.header-puzzle-final .puzzle__description-level::selection,
.header-puzzle-final .header__title::selection,
.header-puzzle-final .button::selection,
.header-puzzle-final .help_1::selection,
.header-puzzle-final .help_2::selection,
.header-puzzle-final .help_3::selection,
.header-puzzle-final b::selection {
  background: #c0ced1;
}

.wrapper {
  max-width: 1197px;
  margin: auto;
}

.wrapper__final {
  margin: 10px;
}

.puzzle__title {
  max-width: 885px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.puzzle__time {
  margin-top: 20px;
}

.puzzle__with-canvas {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .puzzle__with-canvas {
    justify-content: center;
  }
  .puzzle__with-canvas .canvas {
    display: none;
  }
}

.puzzle__description {
  max-width: 740px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
.puzzle__description-level {
  text-transform: uppercase;
}

.puzzle__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.puzzle__task {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
  margin-bottom: 30px;
}

.puzzle__films {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.puzzle_film-easy {
  color: green;
}
.puzzle_film-easy br::selection,
.puzzle_film-easy th::selection,
.puzzle_film-easy td::selection,
.puzzle_film-easy .puzzle__title::selection,
.puzzle_film-easy .puzzle__text::selection,
.puzzle_film-easy .help__title::selection,
.puzzle_film-easy .puzzle__input::selection,
.puzzle_film-easy .puzzle__image::selection,
.puzzle_film-easy .puzzle__description::selection,
.puzzle_film-easy .puzzle__description-level::selection,
.puzzle_film-easy .header__title::selection,
.puzzle_film-easy .button::selection,
.puzzle_film-easy .help_1::selection,
.puzzle_film-easy .help_2::selection,
.puzzle_film-easy .help_3::selection,
.puzzle_film-easy b::selection {
  background: green;
}
.puzzle_film-normal {
  color: orange;
}
.puzzle_film-normal br::selection,
.puzzle_film-normal th::selection,
.puzzle_film-normal td::selection,
.puzzle_film-normal .puzzle__title::selection,
.puzzle_film-normal .puzzle__text::selection,
.puzzle_film-normal .help__title::selection,
.puzzle_film-normal .puzzle__input::selection,
.puzzle_film-normal .puzzle__image::selection,
.puzzle_film-normal .puzzle__description::selection,
.puzzle_film-normal .puzzle__description-level::selection,
.puzzle_film-normal .header__title::selection,
.puzzle_film-normal .button::selection,
.puzzle_film-normal .help_1::selection,
.puzzle_film-normal .help_2::selection,
.puzzle_film-normal .help_3::selection,
.puzzle_film-normal b::selection {
  background: orange;
}
.puzzle_film-hard {
  color: red;
}
.puzzle_film-hard br::selection,
.puzzle_film-hard th::selection,
.puzzle_film-hard td::selection,
.puzzle_film-hard .puzzle__title::selection,
.puzzle_film-hard .puzzle__text::selection,
.puzzle_film-hard .help__title::selection,
.puzzle_film-hard .puzzle__input::selection,
.puzzle_film-hard .puzzle__image::selection,
.puzzle_film-hard .puzzle__description::selection,
.puzzle_film-hard .puzzle__description-level::selection,
.puzzle_film-hard .header__title::selection,
.puzzle_film-hard .button::selection,
.puzzle_film-hard .help_1::selection,
.puzzle_film-hard .help_2::selection,
.puzzle_film-hard .help_3::selection,
.puzzle_film-hard b::selection {
  background: red;
}

.puzzle__image {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.puzzle__image-puzle1 {
  width: 70%;
}
.puzzle__image-puzzle2 {
  width: 40%;
}
@media (max-width: 475px) {
  .puzzle__image-puzzle2 {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .puzzle__image-puzzle2 {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .puzzle__image-puzzle2 {
    width: 100%;
  }
}
.puzzle__image-puzzle4 {
  width: 30%;
}
@media (max-width: 475px) {
  .puzzle__image-puzzle5 {
    width: 290px;
  }
}
@media (max-width: 375px) {
  .puzzle__image-puzzle5 {
    width: 243px;
  }
}
.puzzle__image-puzzle6 {
  width: 40%;
}
@media (max-width: 768px) {
  .puzzle__image-puzzle6 {
    width: 50%;
  }
}
@media (max-width: 475px) {
  .puzzle__image-puzzle6 {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .puzzle__image-puzzle6 {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .puzzle__image-puzzle6 {
    width: 100%;
  }
}
.puzzle__image-puzzle8 {
  width: 55%;
}
.puzzle__image-puzzle10 {
  width: 40%;
}

.puzzle__form {
  width: 100%;
}
@media (max-width: 2560px) {
  .puzzle__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.puzzle__text {
  max-width: 800px;
  width: 100%;
  text-align: center;
  margin: 0;
}
@media (max-width: 2560px) {
  .puzzle__text-puzzle5 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .puzzle__text-puzzle5 {
    display: block;
  }
}
.puzzle__text-1, .puzzle__text-2 {
  color: #FF69B4;
}
.puzzle__text-3, .puzzle__text-4 {
  color: #4169E1;
}
.puzzle__text-5, .puzzle__text-6 {
  color: #008080;
}
.puzzle__text-7, .puzzle__text-8 {
  color: #DC143C;
}
.puzzle__text-9, .puzzle__text-10 {
  color: #FFA500;
}

.puzzle__text-leaf {
  margin-bottom: 20px;
  text-align: center;
}

.puzzle__answer {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  text-align: center;
}

.puzzle__input {
  width: 100%;
  margin: 0 20px;
}
.puzzle__input-puzzle1 {
  border: 3px solid pink;
  background-color: #ffffff;
  padding: 10px 21px;
  border-radius: 10px;
  border-color: pink;
}
.puzzle__input-puzzle1:hover, .puzzle__input-puzzle1:focus {
  border-color: pink;
  outline: none;
}
.puzzle__input-puzzle3 {
  border: 3px solid #422521;
  background-color: #ffffff;
  padding: 10px 21px;
  border-radius: 10px;
  border-color: #422521;
}
.puzzle__input-puzzle3:hover, .puzzle__input-puzzle3:focus {
  border-color: #422521;
  outline: none;
}
.puzzle__input-puzzle5 {
  border: 3px solid rgba(85, 65, 49, 0.8);
  background-color: #ffffff;
  padding: 10px 21px;
  border-radius: 10px;
  border-color: rgba(85, 65, 49, 0.8);
}
.puzzle__input-puzzle5:hover, .puzzle__input-puzzle5:focus {
  border-color: rgba(85, 65, 49, 0.8);
  outline: none;
}
.puzzle__input-puzzle7 {
  border: 3px solid #941c0c;
  background-color: #ffffff;
  padding: 10px 21px;
  border-radius: 10px;
  border-color: #941c0c;
}
.puzzle__input-puzzle7:hover, .puzzle__input-puzzle7:focus {
  border-color: #941c0c;
  outline: none;
}
.puzzle__input-puzzle9 {
  border: 3px solid #d1bf19;
  background-color: #ffffff;
  padding: 10px 21px;
  border-radius: 10px;
  border-color: #d1bf19;
}
.puzzle__input-puzzle9:hover, .puzzle__input-puzzle9:focus {
  border-color: #d1bf19;
  outline: none;
}

.modal__one {
  border-radius: 80px;
  border: 5px solid pink;
}
.modal__one br::selection,
.modal__one th::selection,
.modal__one td::selection,
.modal__one .puzzle__title::selection,
.modal__one .puzzle__text::selection,
.modal__one .help__title::selection,
.modal__one .puzzle__input::selection,
.modal__one .puzzle__image::selection,
.modal__one .puzzle__description::selection,
.modal__one .puzzle__description-level::selection,
.modal__one .header__title::selection,
.modal__one .button::selection,
.modal__one .help_1::selection,
.modal__one .help_2::selection,
.modal__one .help_3::selection,
.modal__one b::selection {
  background: pink;
}
.modal__three {
  border-radius: 80px;
  border: 5px solid #422521;
}
.modal__three br::selection,
.modal__three th::selection,
.modal__three td::selection,
.modal__three .puzzle__title::selection,
.modal__three .puzzle__text::selection,
.modal__three .help__title::selection,
.modal__three .puzzle__input::selection,
.modal__three .puzzle__image::selection,
.modal__three .puzzle__description::selection,
.modal__three .puzzle__description-level::selection,
.modal__three .header__title::selection,
.modal__three .button::selection,
.modal__three .help_1::selection,
.modal__three .help_2::selection,
.modal__three .help_3::selection,
.modal__three b::selection {
  background: rgba(66, 37, 33, 0.5);
}
.modal__five {
  border-radius: 80px;
  border: 5px solid rgba(85, 65, 49, 0.8);
}
.modal__five br::selection,
.modal__five th::selection,
.modal__five td::selection,
.modal__five .puzzle__title::selection,
.modal__five .puzzle__text::selection,
.modal__five .help__title::selection,
.modal__five .puzzle__input::selection,
.modal__five .puzzle__image::selection,
.modal__five .puzzle__description::selection,
.modal__five .puzzle__description-level::selection,
.modal__five .header__title::selection,
.modal__five .button::selection,
.modal__five .help_1::selection,
.modal__five .help_2::selection,
.modal__five .help_3::selection,
.modal__five b::selection {
  background: rgba(85, 65, 49, 0.8);
}
.modal__seven {
  border-radius: 80px;
  border: 5px solid #941c0c;
}
.modal__seven br::selection,
.modal__seven th::selection,
.modal__seven td::selection,
.modal__seven .puzzle__title::selection,
.modal__seven .puzzle__text::selection,
.modal__seven .help__title::selection,
.modal__seven .puzzle__input::selection,
.modal__seven .puzzle__image::selection,
.modal__seven .puzzle__description::selection,
.modal__seven .puzzle__description-level::selection,
.modal__seven .header__title::selection,
.modal__seven .button::selection,
.modal__seven .help_1::selection,
.modal__seven .help_2::selection,
.modal__seven .help_3::selection,
.modal__seven b::selection {
  background: #941c0c;
}
.modal__nine {
  border-radius: 80px;
  border: 5px solid #d1bf19;
}
.modal__nine br::selection,
.modal__nine th::selection,
.modal__nine td::selection,
.modal__nine .puzzle__title::selection,
.modal__nine .puzzle__text::selection,
.modal__nine .help__title::selection,
.modal__nine .puzzle__input::selection,
.modal__nine .puzzle__image::selection,
.modal__nine .puzzle__description::selection,
.modal__nine .puzzle__description-level::selection,
.modal__nine .header__title::selection,
.modal__nine .button::selection,
.modal__nine .help_1::selection,
.modal__nine .help_2::selection,
.modal__nine .help_3::selection,
.modal__nine b::selection {
  background: #d1bf19;
}

/* animation */
.fadeIn, .fadeOut, .slideInDown, .slideOutUp {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  opacity: 1;
  visibility: visible;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  opacity: 0;
  visibility: hidden;
}

@keyframes slideInDown {
  from {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
  to {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slideOutUp {
  from {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  to {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
}
.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

.transition__image {
  width: 300px;
  height: 300px;
}

.transition__image-fire {
  width: 200px;
  height: 300px;
}

.table {
  font-size: 25px;
  margin: 0 20px;
  border: 1px solid rgba(85, 65, 49, 0.8);
  border-collapse: collapse;
}
@media (max-width: 1024px) {
  .table {
    display: none;
  }
}

.table th {
  font-weight: bold;
  background: #FFEFE3;
  border: 1px solid rgba(85, 65, 49, 0.8);
  text-align: center;
  padding: 5px;
}

.table td {
  border: 1px solid rgba(85, 65, 49, 0.8);
  padding: 5px;
  text-align: center;
}

.bounce {
  outline: 0;
  animation-name: bounce;
  animation-duration: 0.75s;
  animation-delay: 0.05s;
  border-color: red;
}
.bounce:focus {
  border-color: red;
}

/* This approximates the ease-in-out-bounce animation from easings.net, which would require a plug-in to use*/
@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(8px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-8px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

/*# sourceMappingURL=style.css.map */
