$color-light: #ffffff;
$color-primary: #FF9900;
$color-additional: #FF7549;

$content-width: 1197px;
$content-max-width: 2560px;
$laptopL-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$tablet-widthM: 676px;
$mobile-l-width: 475px;
$mobile-m-width: 375px;
$mobile-s-width: 320px; 

// Цвета для рамки пазлов
$color-lolipop: pink;
$color-feather: #422521;
$color-dog: rgba(#554131, 0.8);
$color-fire: #941c0c; 
$color-dice: #d1bf19; 
$color-text-black: black;

$color-lolipop-brightly: #FF69B4;
$color-feather-brightly: #4169E1;
$color-dog-brightly: #008080;
$color-fire-brightly: #DC143C; 
$color-dice-brightly: #FFA500; 

$bg-dog: #FFEFE3;

// Цвета для фильмов
$color-ease: green;
$color-normal: orange;
$color-hard: red;

//Цвета для финальной страницы
$color-final-blue: #364969;
$color-final-border: #c0ced1;