$color-light: #ffffff;
$color-primary: #FF9900;
$color-additional: #FF7549;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-l-width: 475px;
$mobile-m-width: 375px;
$mobile-s-width: 320px; 

// Цвета для рамки пазлов
$color-lolipop: pink;
$color-feather: #422521;;
$color-dog: rgba(#554131, 0.8);
$color-fire: #941c0c;
$color-dice: #d1bf19;
