html {
    font-size: 10px;    
}

body {
    @extend %font-default;
    @include font($size: 1.6rem, $height: 2.6rem, $weight: bold); 
    padding-bottom: 30px;
}

//фон с конфетами
.body-puzzle1 {
    background-image: url("../img/puzzles/fon1.png");
}

//фон с перьями
.body-puzzle3 {
    background-image: url("../img/puzzles/fon3.png");
}

//фон собаки
.body-puzzle5 {
    background-image: url("../img/puzzles/fon5.png");
}

//фон с огонем
.body-puzzle7 {
    background-image: url("../img/puzzles/fon7.png");
}

//фон с шахматными фигурами
.body-puzzle9 {
    background-image: url("../img/puzzles/fon9.png");
}

//фон с шахматными фигурами
.body-puzzle-final {
    background-image: url("../img/final/background4.png");
}

h1 {
    @extend %font-default;
    @include font($size: 4.0rem, $height: 5.0rem, $weight: 400);
    @include media-table {
        @include font($size: 3.0rem);
    }
    @include media-mobileL {
        @include font($size: 2.0rem);
    }
}

h2 {
    @extend %font-default;
    @include font($size: 3.4rem, $height: 4.6rem, $weight: 400);
    @include media-mobileS {
        @include font($size: 3.0rem, $height: 4.0rem, $weight: 400);
    }
}

h3 {
    @extend %font-default;
    @include font($size: 2.5rem, $height: 3.8rem, $weight: 400);
    @include media-mobileL {
        @include font($size: 1.9rem, $height: 3.0rem, $weight: 400);
    }
    @include media-mobileM {
        @include font($size: 1.5rem, $height: 1.9rem, $weight: 400);
    }
    @include media-mobileS {
        @include font($size: 1.5rem, $height: 2.6rem, $weight: 400);
    }
}
