.puzzle_button {
    width: 100%; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button {
    @extend %font-default;
    padding: 11px 50px;    
    background-color: $color-light;
    border-radius: 10px;   
    margin: 0 20px;  
    // opacity: 0.5;    
    &-puzzle1 {
        @include border-buttons($color-lolipop);
        &:hover {
            @include hover-buttons($color-lolipop);
        }
    }
    &-puzzle3 {
        @include border-buttons($color-feather);
        &:hover {
            @include hover-buttons($color-feather);
        }
    }
    &-puzzle5 {
        @include border-buttons($color-dog);
        &:hover {
            @include hover-buttons($color-dog);
        } 
    }
    &-puzzle7 {
        @include border-buttons($color-fire);
        &:hover {
            @include hover-buttons($color-fire);
        }
    }
    &-puzzle9 {
        @include border-buttons($color-dice);
        &:hover {
            @include hover-buttons($color-dice);
        }
    }
}

.button-help {
    margin-top: 20px;
    @include media-content {
        min-width: 582px;
    }
    @include media-tableM {
        min-width: 0;
    }    
}

.button-next {
    margin-bottom: 10px;

}