
.container {
    margin: 0 30px;
    background-color: white;
    border-radius: 80px;
    padding: 30px 0;    
}

//фон с конфетами
.container-pizzle1 {
    border: 5px solid $color-lolipop;
}

//фон с перьями
.container-pizzle3 {
    border: 5px solid $color-feather;
}

//фон собаки
.container-pizzle5 {
    border: 5px solid $color-dog;
}

//фон с огонем
.container-pizzle7 {
    border: 5px solid $color-fire;
}

//фон с шахматными фигурами
.container-pizzle9 {
    border: 5px solid $color-dice;
}