
.container {
    margin: 0 30px;
    background-color: white;
    border-radius: 80px;
    padding: 20px 0;    
}

//фон с конфетами
.container-pizzle1 {
    border: 5px solid pink;
}

//фон с перьями
.container-pizzle3 {
    border: 5px solid #422521;
}

//фон собаки
.container-pizzle5 {
    border: 5px solid #524439;
}

//фон с огонем
.container-pizzle7 {
    border: 5px solid #941c0c;
}

//фон с шахматными фигурами
.container-pizzle9 {
    border: 5px solid #d1bf19;
}