.puzzle__form {
    margin: 0px 10px;  
    @include media-mobileL {
        margin-bottom: 20px;
    }
    @include media-mobileM {
        margin-bottom: 20px;
    }
    @include media-mobileS {
        margin-bottom: 20px;
    }
}

.puzzle__input{ 
    width: 100%;    
    &-puzzle1 {
        @include border-inputs($color-lolipop);
    }
    &-puzzle3 {
        @include border-inputs($color-feather);
    }
    &-puzzle5 {
        @include border-inputs($color-dog); 
    }
    &-puzzle7 {
        @include border-inputs($color-fire);
    }
    &-puzzle9 {
        @include border-inputs($color-dice);
    }
}

